.spri-naver-search .link {
    color: black;
    float: left;
    line-height: 150%;
    border-bottom: solid;
    margin: 3px;
    /*width: 100px;*/
    text-align: center;
}

.spri-naver-search{
    display: block;
}

hr.spri-naver-search{
    margin-top: 8px;
    margin-bottom: 8px;
}

.pull-right{
    float: right;
}

.pull-left {
    float: left;
}

.clear-both {
    clear: both;
}

.spri-select select, .spri-select button {
    padding: 5px;
    margin: 3px;
}

.widget_dock{
    margin-top: 7px;
    width: 92.5%;
}

.spri-naver-search-slide p{
    line-height: 140%;
}
.spri-naver-search-slide h2{
    color: #222;
    font-size: 12px;
}
