.spri-naver-search .link {
    color: black;
    float: left;
    line-height: 150%;
    border-bottom: solid;
    margin: 3px;
    /*width: 100px;*/
    text-align: center;
}

.spri-naver-search{
    display: block;
}

hr.spri-naver-search{
    margin-top: 8px;
    margin-bottom: 8px;
}

.pull-right{
    float: right;
}

.pull-left {
    float: left;
}

.clear-both {
    clear: both;
}

.spri-select select, .spri-select button {
    padding: 5px;
    margin: 3px;
}